.main__heading {
  font-size: 5rem;
  color: $color-white;

  animation-name: fromleft;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  &-1 {
    animation-delay: 0.2s;
  }
  &-2 {
    animation-delay: 0.5s;
  }
  position: relative;
  z-index: 1;
  text-shadow: 0 0rem 3rem #2dcfef75;
}
.main_cost {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: $color-white;
}
.blue-text {
  color: $color-tertiary;
  margin-left: 0.4rem;
}
.text-box {
  font-size: 1.5rem;
  color: $color-white;
  line-height: 2;
  width: 80%;
}
.heading-secondary {
  font-size: 3.5rem;
  color: $color-white;
  transition: all 0.5s;
  letter-spacing: 2px;
  &:hover {
    transform: skewY(4deg) skewX(5deg);
  }
  text-shadow: 0 0rem 3rem #2dcfef75;
  visibility: visible;
  animation-name: heading2;
  animation-duration: 1s;
  animation-delay: 100ms;
}
.text-box-mini {
  font-size: 1.1rem;
  color: $color-grey-2;
}
.heading-tertiary {
  font-size: 1.4rem;
  color: $color-grey-2;
}
.gradient-text {
  display: inline-block;
  background-image: linear-gradient(
    to right bottom,
    $color-tertiary,
    $color-primary
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
